# Database
MONGODB_URI=mongodb://localhost:27017/litmus
# For production: your_connection_string_from_mongodbAtlas

# Email Service (Resend)
RESEND_API_KEY=your_api_key_from_resend.com

# AI Service (OpenAI)
OPENAI_API_KEY=your_api_from_openai.com

# NextAuth Configuration
NEXTAUTH_SECRET=your_secret_key_from_generate-secret.vercel.app/32
NEXTAUTH_URL=http://localhost:3000
# For production: https://yourdomain.com
