# Database
MONGODB_URI=mongodb://localhost:27017/litmus
# For production: mongodb+srv://username:password@cluster.mongodb.net/litmus

# Email Service (Resend)
RESEND_API_KEY=re_XMGyUbS3_AsWkcguKRdSYWGjEuwwuMXXz

# AI Service (OpenAI)
OPENAI_API_KEY=k-proj-K7ZMk8Uqf9LIpDpzUK-6ggPRPI3CQszr8zLl2aCXSrQfE4uAjJkVg0rTOOt-T5bynF7VO5LXXBT3BlbkFJiKFh4vamO7I68N5cMtYjfqjnZktAZhkNXQwqBlNm3InMlUp-kI2ZH5RZYe_kTX3QwlpFzQ97kA

# NextAuth Configuration
NEXTAUTH_SECRET=712a9a496e21e53e62ed99775c6a226f
NEXTAUTH_URL=http://localhost:3000
# For production: https://yourdomain.com
